<fieldset name="deskInfo" id="deskInfo">
    <label for="url">Доска [<%=desk.type%>]:</label><br>                
    <select id="deskSelect" name="deskSelect" actual-id="<%=desk.id%>" actual-title="<%=desk.title%>" onchange="deskChange()">
    </select><br>  
</fieldset>