<fieldset name="loginInfo" id="loginInfo">
    <!--<label for="url">Доска:</label><br>                
    <select id="deskSelect" name="deskSelect" onchange="deskChange()">
    </select><br>-->

    <label for="url">Сервер:</label><br>
    <input type="text" id="url" name="url" value="neo4j://176.57.217.75:7687"><br>

    <label for="username">Имя пользователя :</label><br>
    <input type="text" id="username" name="username" value="neo4j"><br>

    <label for="password">Пароль:</label><br>
    <input type="text" id="password" name="password" value="miner2"><br>

    <br><button type="button" onclick="getGraphInfo()">Вход</button><br>
</fieldset>