<fieldset name="search" id="search">
    <legend align="left">Поиск по вершинам</legend>
    <input type="text" id="nodeSearch">
    <ul id="dropDownUL">
    </ul>
    <div class="previous-cord-box" x="" y=""></div>    
</fieldset>
<fieldset name="gobacksearch" id="gobacksearch">
    <br><button id="restoreBeforeSearchTrigger" type="button">Вернуть как до поиска</button><br>
</fieldset>