<!DOCTYPE html>
<html>
  <head>
    <title>Пользователь <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Привет, <%= title %>!</p>
  </body>
</html>
