<fieldset name="verb" id="verb">
	<legend align="left">Ребра</legend>

	От:
	<select id="relationshipStart" name="relationshipStart">
	</select><br>

	Тип
	<select id="relationshipType" name="relationshipType">
        <option value="ИСПОЛЬЗУЕТ">Использует</option>
        <option value="СОДЕРЖИТ">Содержит</option>
        <option value="ФОРМИРУЕТ">Формирует</option>
        <option value="ДОСТАВЛЯЕТ">Доставляет</option>
        <option value="ПРОВЕРЯЕТ">Проверяет</option>
        <option value="СООТВЕТСТВУЕТ">Соответствует</option>
        <option value="ОБОБЩАЕТ">Обобщает</option>
        <option value="ВИЗУАЛИЗИРУЕТ">Визуализирует</option>
    </select>   
    <br>

    До:
    <select id="relationshipEnd" name="relationshipEnd">
    </select><br>

    <button type="button" onclick="addRelationship()">Добавить</button><br>
    <button type="button" onclick="removeRelationship()">Удалить</button><br>
</fieldset>
