#sidebar.menu-bar{
    left: 0vw;           
}

#viz {
    width: 66vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 17vw;
    border-style: none;
}

#menu.menu-bar {        
    left: 83vw;    
    padding-right: 1vw;
}

.menu-bar{
    position: absolute;
    top: 0vh;
    width: 17vw;    
    height: 100vh;
    background-color: rgb(252, 252, 252);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

#graphMenu {
    top: 1%;
    left: 4%;
    position: relative;
}

.graphMenu>*>* {
    width: 100%;
}
#verb select{
    width: 83%;
    margin-bottom: 6px;
}
#verb select#relationshipType{
    width: 70%;
}
#relationEditButton{
    display: inline-block;
    width: 13%;
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    background: linear-gradient(#ffffff, #c5cafd);
}
#relationEditButton:hover{
    background: linear-gradient(#c5cafd, #ffffff);   
    cursor: pointer;
}
.graphMenu>*>textarea {
    width: 99%;
    resize: vertical;    
    text-align: left;
}

.graphMenu>* {
    width: 85%;
    text-align: left;
}


.graphMenu fieldset {
    width: 85%;
}
#sidebar fieldset button {
    margin: 5px 0 5px 0
}
.graphMenu #addNodeByTemplate {
    margin-bottom: 24px; 
}

.colLeft {
    float: left;
}

.colRight {
    float: right;
}

.graphMenu>*>button {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}
 
.graphMenu>*>button:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

.graphMenu>*>button:active {
    position: relative;
    top: 1px;
}
.graphMenu>*>button[disabled] {
    background: gray;
}

.vis-tooltip{
    max-width: 30vw;
    white-space: normal !important;
}

#dropDownUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 12vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#dropDownUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: white;
    padding: 2px;
    text-decoration: none;
    color: black;
    display: block;
}

#dropDownUL li a:hover:not(.header) {
    background-color: #eee;
}

.previous-cord-box{
    display:none;
}