<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Graph</title>
<link rel="stylesheet" href="/stylesheets/style.css">    

<head>
    <script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis.js"></script>
    <script src="https://unpkg.com/neo4j-driver"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/cookielib/src/cookie.min.js"></script>

    <script src="/javascripts/main.js" type="module"></script>

<!--    <script src="/javascripts/constants.js" type="text/javascripts"></script>
    <script src="/javascripts/desks.js" type="module"></script>
    <script src="/javascripts/login_init.js" type="module"></script>    
    <script src="/javascripts/filters.js" type="module"></script>
    <script src="/javascripts/relations.js" type="module"></script>
    <script src="/javascripts/nodes.js" type="module"></script>
    <script src="/javascripts/search.js" type="module"></script>    
    <script src="/javascripts/common.js" type="module"></script>
-->
</head>
