<fieldset name="addNodeByTemplate" id="addNodeByTemplate">
    <legend align="left">Добавить вершину</legend>
    
    <label>Название:</label><br>
    <input type="text" id="caption" value=""><br>

    <label>Тип:</label><br>    
    <select id="theTypeSelectInAdd" name="theTypeSelect"> 
    </select><br>
    
    <label>Описание:</label><br>
    <textarea id="description" rows="3"></textarea><br>
    
    <label>Источники:</label><br>
    <input type="text" id="sourcesInAdd" value=""><br>
    
    <label>Время освоения(минут):</label><br>    
    <input type="text" id="timeSizeInAdd" value=0><br>

    <label>Размер:</label> 
    <select id="size" name="size">
        <option value="20">Обычный</option>
        <option value="21">Большой</option>
    </select><br>    
    
    <br><button type="button" onclick="addVertex('instance')">Добавить вершину</button><br>
</fieldset>