<fieldset name="addTypeVertex" id="addTypeVertex">
    <legend align="left">Добавить Класс</legend>
    <label>Название:</label><br>
    <input type="text" id="caption"><br>
    <br><button type="button" disabled>Добавить свойство</button><br>
    <br><button type="button" onclick="addTypeVertex()" disabled>Добавить Класс</button><br>
</fieldset>
