<fieldset name="addNodeByTemplate" id="addNodeByTemplate" class="colLeft">
    <legend align="left">Добавить Класс</legend>
    <label>Название:</label><br>
    <input type="text" id="caption"><br>
    <br><button type="button">Добавить свойство</button><br>
    <br><button type="button" onclick="addNodeByTamplateClick()">Добавить Класс</button><br>
</fieldset>
