<fieldset name="vertex" id="vertex">
    <legend align="left">Изменить/удалить Класс</legend>
    <label for="nodeSelect">Класс</label><br>
    <select id="nodeSelect" name="nodeSelect" onchange="getSelectedNodeInfo()">
    </select><br>

    <label for="title">Название:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="desc">Описание:</label><br>
    <textarea id="desc" name="desc"></textarea><br>

    <label>Источники:</label><br>
    <textarea type="text" id="sourcesInEdit"></textarea><br>

    <label for="community">Номер группы:</label><br>
    <input type="text" id="communityInEdit" name="community"><br>

    <label>Время освоения(минут):</label><br>    
    <input type="text" id="timeSizeInEdit" value=0><br>

    <label for="type">Размер:</label><br>
    <select id="type" name="type">
        <option value="20">Обычный</option>
        <option value="10">Маленький</option>
        <option value="30">Большой</option>
    </select><br>

    <br><button type="button" onclick="changeNode()">Изменить выбранную вершину</button><br>
    <br><button type="button" onclick="removeNode()">Удалить выбранную вершину </button><br>
</fieldset>
