<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis.js"></script>
    <script src="https://unpkg.com/neo4j-driver" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body style="overflow: hidden;">
    <div id="menu" scroll="yes">
        <form id="graphMenu" name="graphMenu">
            <fieldset name="loginInfo" id="loginInfo">
                <label for="url">Сервер:</label><br>
                <input type="text" id="url" name="url" value="bolt://localhost:11007"><br>

                <label for="username">Имя пользователя :</label><br>
                <input type="text" id="username" name="username"><br>

                <label for="password">Пароль:</label><br>
                <input type="text" id="password" name="password"><br>

                <br><button type="button" onclick="getGraphInfo()">Вход</button><br>
            </fieldset>

            <fieldset name="depthFilter" id="depthFilter">
                <legend align="left">Фильтр по дальности от вершины</legend>
                <label for="depthFilterSelector">Начальная вершина:</label><br>
                <select id="depthFilterSelector" name="depthFilterSelector">
                </select><br>
                <label for="depth">Дальность</label><br>
                <input type="text" id="depth" name="depth"><br>
                <br><button type="button" onclick="showDepthFilter()">Показать в визуализации</button><br>
                <br><button type="button" onclick="addDepthFilter()">Добавить в визуализацию</button><br>
            </fieldset>

            <fieldset name="oneWayFilter" id="oneWayFilter">
                <legend align="left">Фильтр по разделу</legend>
                <label for="oneWayFilterSelector">Начальная вершина:</label><br>
                <select id="oneWayFilterSelector" name="oneWayFilterSelector">
                </select><br>
                <br><button type="button" onclick="showOneWayFilter()">Показать в визуализации</button><br>
                <br><button type="button" onclick="addOneWayFilter()">Добавить в визуализацию</button><br>
            </fieldset>

            <fieldset name="search" id="search">
                <legend align="left">Пойск</legend>
                <input type="text" oninput="searchNodeByName()" id="nodeSearch">
                <ul id="dropDownUL">
                </ul>
            </fieldset>

            <fieldset name="vertex" id="vertex">
                <legend align="left">Вершины</legend>
                <label for="nodeSelect">Вершина:</label><br>
                <select id="nodeSelect" name="nodeSelect" onchange="getSelectedNodeInfo()">
                </select><br>

                <label for="title">Название:</label><br>
                <input type="text" id="title" name="title"><br>

                <label for="desc">Описание:</label><br>
                <textarea id="desc" name="desc"></textarea><br>

                <label for="use">Области использования (через запятую):</label><br>
                <textarea id="use" name="use"></textarea><br>

                <label for="type">Размер:</label><br>
                <select id="type" name="type">
                    <option value="25">Большой</option>
                    <option value="20">Маленький</option>
                </select><br>

                <br><button type="button" onclick="addNode()">Добавить вершину</button><br>
                <br><button type="button" onclick="changeNode()">Изменить выбранную вершину</button><br>
                <br><button type="button" onclick="removeNode()">Удалить выбранную вершину </button><br>
            </fieldset>

            <fieldset name="verb" id="verb">
                <legend align="left">Ребра</legend>

                <label for="relationshipStart">Начальная вершина:</label><br>
                <select id="relationshipStart" name="relationshipStart">
                </select><br>

                <label for="relationshipEnd">Конечная вершина:</label><br>
                <select id="relationshipEnd" name="relationshipEnd">
                </select><br>

                <br><button type="button" onclick="addRelationship()">Добавить</button><br>
                <br><button type="button" onclick="removeRelationship()">Удалить</button><br>
            </fieldset>

            <fieldset name="search" id="refresh">
                <br><button type="button" onclick="clearFilters()">Обновить визуализацию</button><br>
            </fieldset>

        </form>
    </div>

    <div id="viz"></div>
</body>

</html>
