<fieldset name="depthFilter" id="depthFilter">
    <legend align="left">Фильтр по дальности от вершины</legend>
    <label for="depthFilterSelector">Начальная вершина:</label><br>
    <select id="depthFilterSelector" name="depthFilterSelector">
    </select><br>
    <label for="depth">Дальность</label><br>
    <input type="text" id="depth" name="depth"><br>
    <br><button id="depthFilterShowTrigger" type="button">Показать в визуализации</button><br>
    <br><button id="depthFilterAddTrigger" type="button">Добавить в визуализацию</button><br>
</fieldset> 
