<fieldset name="depthFilter" id="depthFilter">
    <legend align="left">Фильтр по дальности от вершины</legend>
    <label for="depthFilterSelector">Начальная вершина:</label><br>
    <select id="depthFilterSelector" name="depthFilterSelector">
    </select><br>
    <label for="depth">Дальность</label><br>
    <input type="text" id="depth" name="depth"><br>
    <button type="button" onclick="addDepthFilter(refresh=true)">Показать в визуализации</button><br>
    <button type="button" onclick="addDepthFilter()">Добавить в визуализацию</button><br>
</fieldset> 