<fieldset name="NodeTypeFilter" id="nodeTypeFilter">
    <legend align="left">Фильтр по типу вершины</legend>
    <label for="nodeTypeFilterSelector">Типы вершины:</label><br>
    <select id="nodeTypeFilterSelector" name="nodeTypeFilterSelector">
    </select><br>
    <br><button type="button" onclick="addNodeTypeFilter(refresh=true)">Показать в визуализации</button><br>
    <br><button type="button" onclick="addNodeTypeFilter()">Добавить в визуализацию</button><br>
</fieldset> 