<fieldset name="pathP2Pfilter" id="pathP2Pfilter">
    <legend align="left">Кратчайший путь</legend>
    <label for="pathP2PfilterSelectorA">Начальная вершина:</label><br>
    <select id="pathP2PfilterSelectorA" name="pathP2PfilterSelectorA">
    </select><br>    
    <label for="pathP2PfilterSelectorB">Конечная вершина:</label><br>
    <select id="pathP2PfilterSelectorB" name="pathP2PfilterSelectorB">
    </select><br>
    <button type="button" onclick="addPathP2Pfilter(refresh=true)">Показать в визуализации</button><br>
    <button type="button" onclick="addPathP2Pfilter()">Добавить в визуализацию</button><br>
</fieldset> 