<fieldset name="oneWayFilter" id="oneWayFilter">
    <legend align="left">Фильтр по разделу</legend>
    <label for="oneWayFilterSelector">Начальная вершина:</label><br>
    <select id="oneWayFilterSelector" name="oneWayFilterSelector">
    </select><br>
    <button type="button" onclick="showOneWayFilter()">Показать в визуализации</button><br>
    <button type="button" onclick="addOneWayFilter()">Добавить в визуализацию</button><br>
</fieldset>