<fieldset name="oneWayFilter" id="oneWayFilter">
    <legend align="left">Фильтр по разделу</legend>
    <label for="oneWayFilterSelector">Начальная вершина:</label><br>
    <select id="oneWayFilterSelector" name="oneWayFilterSelector">
    </select><br>
    <br><button id="sectionFilterShowTrigger" type="button">Показать в визуализации</button><br>
    <br><button id="sectionFilterAddTrigger" type="button">Добавить в визуализацию</button><br>
</fieldset>
